.user-buttons {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right:0;
}

.user-buttons button {
  color: white;
  border: none;
  padding:5px;
  border-radius: 5px;
  cursor: pointer;
  margin:3px;
  height:30px;
}


.login {
  background-color: tomato;
}

.logout {
  background-color: teal;
}

.register {
  background-color: slateblue;
}